.container {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 1rem;
}

.dateContainer {
  display: flex;
  padding: 1 rem;
  justify-content: space-around;
}
