.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 2rem 4rem 2rem;
 
 
}

.title {
  font-size: 2rem;
  color: #060c5c;
  padding-bottom: 1rem;
}
/* .datesBlock {
  width: 60%;
} */

.dateContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}
/* .recapitulatif {
  padding-top: 4rem;
  padding-bottom: 4rem;
} */

/* .recapitulatif p {
  color: #333;
} */



.button {
  background-color: #060c5c;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 4rem;
}

.button:hover {
  background-color: #1c216db9;
}

.recapPaiment{
  margin-bottom: 20%;
}