.footerStyle {
  width: 100%;
  background-color: #060c5c;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}

.useSelector {
  font-size: 20px;
  color: white;
}

.p {
  color: white;
  font-size: 10px;
}
