.footerStyle {
  height: 64px;
  background-color: #060c5c;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 18px 40px 10px 40px;
}

.useSelector {
  font-size: 20px;
  color: white;
  padding-bottom: 5px;
}

.footerlogoExplore {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
}

.footerlogoCoeur {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
}

.legend {
  line-height: 1;
}

.footerStyleDesktop {
  width: 100%;
  color: white;
  background-color: #060c5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerDesktopLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
