.logo {
  height: 48px;
  width: auto;
  color: white;
  padding: 0px;
  margin: 0px;
}

.dropDown {
  color: white;
}

.userName {
  font-size: 12px;
  height: fit-content;
  padding: 0px;
  margin: 0px;
  line-height: 3;
}

.userContainer {
  padding: 5px 20px 5px 20px;
  width: auto;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
  /* align-items: center;
  justify-content: space-between; */
}

.headerStyle {
  width: 100%;
  background-color: #060c5c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  padding-inline: 50;
  line-height: 64px;
  top: 0;
}

.userSelector {
  color: white;
  font-size: 20px;
}

.headerStyleDesktop {
  background-color: #060c5c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputContainer {
  margin-top: 50%;
  margin-bottom: 50%;
}
