.container {
  height: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  /* margin-top: 20%; */
}

.chevronIcon{
  margin-bottom: 2%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 10%;
}

.iconContainer{
  width: 100%;
  margin-bottom: 2%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #060c5c;
}

.rangePicker {
  width: 100%;
  border: 1px solid #060c5c;
}

.button {
  background-color: #060c5c;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #060c5cb9;
}

.container {
  height: 100%;
  padding: 5%;
}

.dispoText {
  font-weight: 700;
  text-decoration: underline;
}

.availabilitiesError {
  color: red;
  font-weight: 400;
  padding: 12px 2px;
  margin-bottom: 30%;
}

.image {
  border-radius: 1%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.owner {
  font-style: italic;
  color: #060c5c;
}

.comments {
  font-style: italic;
  color: #060c5c;
}
