.profilePage {
  margin: 5%;
}

.profile {
  font: Inter;
  size: 20px;
  line-height: 28px;
}

/* .Input{
position: absolute;
left: 65px;
right: 78px;
top: 250px;
bottom: 506px;
background: #F0EFF4;
} */
