.ratingCard {
  width: 40%;
  border-radius: 10px;
  background-color: #060c5c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
  padding: 1%;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.image {
  border-radius: 50%;
}

.name {
  color: white;
}

.text {
  color: white;
}

.anticon-star {
  height: 5px;
}
