.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.recap {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.gifContainer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #060c5c;
}
